.App {
  text-align: center;
  background-image: url("../images/lottery.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  height: 100vh;
}

.infoTableTitle {
  font-family: arial;
  color: black;
  font-size: 20px;
}

.infoTableTexts {
  font-family: arial;
  color: black;
  font-size: 16px;
}

.hoverable:hover {
  cursor: pointer;
}

.mainCenterContainer {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerInColumns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centerInRows {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.textsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flexRow {
  display: "flex";
  flex-direction: "row";
}

.button {
  margin: 10px 5px;
  width: 200px;
  height: 30px;
  border-radius: 2px;
  font-size: 12px;
  color: #dddddd;
  background-color: #350060;
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 400px;
  width: 600px;
}

.cardOn {
  background-color: green;
  opacity: 0.8;
}

.cardOff {
  background-color: brown;
  opacity: 0.8;
}

.card {
  height: 70px;
  width: 45px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blink {
  animation: blink 1.5s infinite;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}

.slowAppear {
  animation: appear 1s;
}

@keyframes appear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.metamaskButtonContainer {
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 60px;
  background-color: #cfc8ff;
  border: 5px solid #292929;
  border-radius: 10px;
  position: absolute;
  right: 8%;
}

.metamaskImage {
  height: 50px;
  width: 50px;
}

.imagesContainer {
  width: 600px;
  height: auto;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #afa8ee;
  border: 5px solid #292929;
  border-radius: 10px;
  opacity: 0.9;
}

.imgs {
  width: 50px;
  height: 45px;
  margin: 5px;
}
