
.navbar_c {
    height: 80px;
    width: 90%;
    background-color: #350060;
    border-radius: 10px;
    opacity: 0.9;
    display: flex;
    flex-direction: row;
    margin: 0% 5%;
}

.links {
    width: 12vw;
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}



