.startGameContainer {
  width: 20%;
  height: auto;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #afa8ee;
  border: 5px solid #292929;
  border-radius: 10px;
  opacity: 0.9;
}

.inputArea {
  width: 25px;
  height: 25px;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startTableStatus {
  position: absolute;
  top: 10%;
}

.startInstructionsPosition {
  position: absolute;
  top: 17%;
  text-align: left;
}
