.startGameContainer {
  width: 25%;
  height: auto;
  position: absolute;
  bottom: 5%;
  left: 38%;
  background-color: #afa8ee;
  border: 5px solid #292929;
  border-radius: 10px;
  opacity: 0.9;
}

.inputArea {
  width: 25px;
  height: 25px;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startTableStatus {
  position: absolute;
  top: 15%;
}
